*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#background{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#topnav{
    position: absolute;
    top: 0%;
    left: 0;
    padding: 0 50px;
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
/*     background:#000;*/
}

#topnavleftsection{
    position: absolute;
    width: 300px;
    display: flex;
    height: 100%;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
}

#logo{
    background-image: url(../img/logo.png);
    height: 150px;
    width: 120px;
    background-size: cover;
    background-position: center;
    position: fixed;
}



#topnavrightsection{
    position: absolute;
    right:20%;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topnavrightsection i{
    opacity: .7;
}

#menulogo{
    background-image: url('Group 1.png');
    background-size: cover;
    height: 13px;
    width: 20px;
}

#mainpage{
    display: flex;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

#mainpageleftsection{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

#text{
    position: absolute;
    width: 70%;
    /* background-color: red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#text h1{
    margin-bottom: 40px;
    font-size: 40px;
    letter-spacing: 2px;
}

#text p{
    font-size: 16px;
    color: rgb(44, 44, 44);
    font-weight: 500;
}

#mainpagerightsection{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

#imageslider{
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 100%;
    height: 85%;
    overflow: hidden;
    border-top-left-radius: 35px;
    /* background-color: red; */
}

.images{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1494526585095-c41746248156?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

#offercards{
       position: absolute;
    top: 50%;
    left: 10%;
    padding: 20px 20px;
    transform: translate(0%,-50%);
    height: 200px;
    width: 430px;
    background-color: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.offer{
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    align-items: center;
}

.offer h2{
    text-transform: capitalize;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.offer p{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.offer button{
    margin-top: 20px;
    border-radius: 9px;
    height: 40px;
    width: 170px;
    color: white;
    font-size: 12px;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
}

#imageslider i{
    color: white;
    position: absolute;
    top: 50%;
    right: 7%;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
   margin-top: -47px;
}
.bhk_form input{
border-top-left-radius: 10px;
    color: #ff4600;
    font-size: 20px;
    height: 60px;
    border-right: none;
    border-top: none;
    margin-left: -50px;
    width: 540px;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-top-right-radius: 10px;
    box-shadow: -5px 0px 3px 0px rgba(232, 232, 232, 1);

}
.bhk_form input::placeholder{
   font-weight: bold;
     color:black;
}
.bhk_form .btn{
        height: 41px;
    color: #ff4600;
    font-size: 20px;
        height: 60px;
   width: 150px; 
    margin-left: 180px;
        line-height: 43px;
    background: white;
    border-bottom: 1px solid #f1f1f1;
      font-weight: normal;
      box-shadow: -5px 0px 3px 0px rgba(232, 232, 232, 1)

}
.bhk_form .btn.fa-search{
    font-weight: normal;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
    padding-bottom: 10px;
    
}
.bhk_form  span{
    position:absolute;
       right: 340px;
    top: 23px;
}

h2 { margin-top:30px; }

#background .logo{

    height: 100px;
    width: 90px;
    margin-top: 30px;
}

#sideNav{
 width: 250px;
height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background:#fff;
    z-index: 2;
    transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ff4600;
}
nav ul li a.btn-info:last-child{
  border: 2px solid #ff4600;
   background: transparent;
    color:#ff4600;
}
nav ul li a.btn-info:last-child:hover{
    background:#ff4600;
    color: white;
}
#Menubtn{
   width: 40px;
    position: fixed;
    right: 40px;
    top: 25px;
    z-index: 2;
    cursor: pointer;
}




/*room-features*/
#room_matches{
    
    padding:40px 0;
    align-items: center;
    
}
.box16{
/*      margin-bottom: -40px;*/
/*          margin-right: -15px;*/
}
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16:hover:after{
    background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)
   
}
.box16 a{
     display: block;
      position: relative;
      overflow: hidden;
}
.box16 img
{width:100%;
    height:300px;
    transition: all 0.5s ease-in-out;
    border: 2px solid #fff;
    box-shadow: 2px 2px #000;
}
.box16:hover img{
   transform: scale(1.2);
}
.box16 .box-content{
    padding:20px;
    margin-bottom:20px;
    bottom:0;z-index:1;
}
.box16 .title
{font-size:24px;
  font-weight:700;
  text-transform:uppercase;
  margin: -120px -42px -55px -38px;
  color: #fff;
}
.box17 .icon li,.box17 .icon li a{display:inline-block}

@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}
/*services*/
                        
#features{
   
    align-items: center;
    background: #f1f1f1;

}
#features h2{
      padding:40px 0;
    padding-bottom: 20px;
    background: white;
}
.feature_row columns_f{


}
.feature_row img{
    width: 100px;
margin-left: 40%;
        border: 1px solid #f1f1f1;
    box-shadow: 5px black;
}
.feature_row h4{
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}
/*popular stay*/

/*-----filter----*/ 

#popular_places h3{
    text-align: center;
    padding-bottom: 40px;
}
#popular_Stay{
 padding-top: 50px;
    padding-bottom: 40px;
}
.gallery-title
{
    font-size: 36px;
    color: #ff9000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
#popular_Stay .filter-button
{
    text-align: center;
    color: black;
    margin-bottom: 30px;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid #FF4600;
    color: black;

}
.filter-button:hover
{
     font-weight: 400;
    border: 1px solid #FF4600;
    text-align: center;
    color: #ffffff;
    background-color: #FF4600;

}
.btn-default:active .filter-button:active
{
    background-color:#FF4600;
    color: white;
}

.port-image
{
    width: 100%;
    
}
/* Homes that match your lifestyle*/
.gallery_product
{
    margin-bottom: 30px;
}
.gallery_product img
{
   width: 100%;
    height: 200px;
    box-shadow: 2px 2px #000;
}
.image-content{
 
    border: 1px solid #f1f1f1;
 
}
.image-content .image-second-part{
     text-align: center;

}
.image-content .image-features{
  padding:5px;
    background: #f1f1f1;
}
.image-content .image-features{
  padding:5px;
    background: #f1f1f1;
}
.image-content .image-footer-part{
/*    margin-left: 10px;*/
}
/*footer*/
#footer_section{
    padding:40px 0;
background: #141414;
    color: white;
}
#footer_section h4{
    color: #ccc;
    font-size: 22px;
}
#footer_section .account ul{
   list-style: none; 
}
#footer_section form input{
    border-radius: 10px;
       font-size: 20px;
     border: 1px solid #f1f1f1;
/*  box-shadow: 2px 2px #888888;*/
    color: #ff4600;
}
#footer_section form input::placeholder{
    
    color: #ff4600;
}
#footer_section .btn-info{
   background: #FF4600;
    color: white;
    width: 55%;
    font-size: 20px;
/*    border: 1px solid #f1f1f1;*/
     border-radius: 5px;
/*     box-shadow: 2px 2px #f1f1f1;*/
}
#footer_section .btn-info:hover{
    cursor: pointer;
    background: white;
    color: #ff4600;
}
#footer_section ul li{
    list-style: none;
    
}
#footer_section ul li a{
 
    font-family: calibri;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
      
}

#footer_section ul li a{
    text-decoration: none;
          color: #dadfe0;
}
#footer_section ul li a:hover{
    color: #ff4600;
   transition: 0.5s;
}
#footer_section a.icon{
    padding-top: 20px; 
    font-family: calibri;
    font-size: 16px;
    line-height: 26px;
     color: #ccc;
    text-decoration: none;
}
#footer_section a .icon1{
    border: 2px solid #ccc;
    padding-top: 10px;
    padding-left: 10px;
    padding: 15px;
    border-radius: 5px;

}
#footer_section a .icon2{
    border: 2px solid #ccc;
    padding-top: 10px;
     padding: 15px;
     padding-left: 10px;
        border-radius: 5px;

}
#footer_section a .icon3{
    border: 2px solid #ccc;
    padding-top: 10px;
     padding: 15px;
        border-radius: 5px;
   
}
#footer_section a .icon1:hover{
  color:  #3b5998;

}
#footer_section a .icon2:hover{
   color:  #00acee;

}
#footer_section a .icon3:hover{
   color:#db4a39
   
}

@media only screen and (max-width:770px){
   #header .background{
        display: none;
    }
    #header .logo{
/*    background-image: url('Group 1.png');*/
    background-size: cover;
    height: 100px;
    width: 100px;
        position: fixed;
/*    margin-top: 30px;*/
}

    #header .call{
display: none;
}
    #offercards{
        display: none;
    }
h1{
    font-size: 25px;
}
    #Menubtn{
   width: 40px;
    right: 5px;
        top: 3%;
}
.social_icon img{
    width:30px;
    margin-top: 15px auto ;
   
}
    #features h2{
      padding:40px 0;
    padding-bottom: 20px;
    background: white;
}
.feature_row h4{
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 400;
    margin-left: 40%;
}
    #topnavrightsection{
        display: none;
    }
    #topnavleftsection{
        display: none;
    }
      #imageslider{
       bottom: 8%;
    }
    .row.no-pad {
  margin-right:0;
  margin-left:0;
   margin-top: -47px;
}
.bhk_form input{
   color: black;
    margin: 39px;
    border: 1px solid #ff4600;
        margin-left: -1px;
        width: 100%;
}
.bhk_form span {
    position: absolute;
    right: 361px;
    top: 60px;
}
.bhk_form input,select::placeholder{
   
     color:black;
}
.bhk_form select{
    font-size: 20px;
      border-right: none;
}
.bhk_form .btn{
           margin-left: 94px;
    color: white;
    background:#ff4600;

}
 }
}
@media only screen and (min-width: 768px)  {
    
    .bhk_form input {
/*    margin-left: -43px;*/
}
}
@media only screen and (max-width:1024px){

 .bhk_form span{
    position:absolute;
    right: 197px;
    top: 23px;
}   
    .bhk_form{
        
            margin-left: -328px;
    margin-top: -37px;
    }
    .bhk_form input {
    margin-left: -43px;
}
}

@media screen and (min-device-width: 320px){ 
    /* STYLES HERE */
    #mainpageleftsection #text{
            left: 44%;
                top: 53%;
    }
    #mainpageleftsection #text{
            margin-bottom: 35px;
    font-size: 38px;
 
    }
    #imageslider{
        border-top-left-radius: 66px;
          bottom: 5%;
    }
        #Menubtn{

    right: 10px;
}
}
  @media only screen and (min-width: 1024px) {
      /* For landscape layouts only */
            #Menubtn{

    right: 39px;
}
    }
